* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Section1 */
.section1 {
    width: 100%;
    height: 100vh;
}

.section1__gb img{
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: -1;
}

.section1__content {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
}
.section1__logo img {
    width: 60%;
    animation: fadeUp .5s ease-in-out .2s forwards;
    opacity: 0;
}

.section1 h1 {
    color: #f0f0f4;
    font-family: 'Raleway';
    margin-bottom: 10px;
    animation: fadeUp .5s ease-in-out .5s forwards;
    opacity: 0;
}
.section1 p {
    color: #f0f0f4;
    font-family: 'Raleway';
    margin-bottom: 10px;
    animation: fadeUp .5s ease-in-out .5s forwards;
    opacity: 0;
}

.section1__content img {
    position: relative;
    animation: fadeUp .5s ease-in-out .7s forwards;
    opacity: 0;
}

.section1 button {
    padding: 10px 15px;
    margin-top: 10px;
    background-color: #F33F7E;
    border: none;
    border-radius: 5px;
    box-shadow: -3px 3px 4px #00000044;
    margin-top: 5%;
    width: 40%;
    animation: fadeUp .5s ease-in-out .9s forwards;
    opacity: 0;
}

.section1 button a {
    color: #f0f0f4;
    text-decoration: none;
}

/* section2 */ 

.section2 {
    width: 100%;
    height: 100vh;
}
.section2__gb img{
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: -1;
}

@keyframes fadeSimple {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes fadeUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0px);
    }
  }


  /* Media Queries */ 

  @media screen and (min-width: 700px) {
    .section1__gb img {
        visibility: hidden;
        display: none;
    }
    .section1 {
        width: 100%;
        height: 100vh;
        background-color: #F33F7E;
    }
    .section1__logo img {
        width: 15%;
    }
    .section1__content {
        flex-direction: column;
        position: absolute;
        margin-top: 5%;
    }
    .section1__content img {
        width: 50%;
        margin-left: 50%;
        position: absolute;
    }

    .section1__content h1 {
        font-size: 60px;
    }
    .section1__content p {
        font-size: 24px;
        width: 45%;
    }
    .section1__content button {
        width: 10%;
        height: 50px;
        background-color: #f0f0f4;
        position: absolute;
        top: 75%;
        cursor: pointer;
        transition-property: box-shadow;
        transition-duration: .3s;
    }
    .section1__content button:hover {
        box-shadow: -8px 8px 2px #00000044;
    }
    .section1__content button a {
        color: #F33F7E;
        font-size: 18px;
    }

  }