* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* mobile version */
.header__bg2 img {
    visibility: hidden;
    display: none;
}

html {
    scroll-behavior: smooth;
}
header {
    width: 100%;
    height: 100vh;
}

.header__nav {
    visibility: hidden;
    display: none;
}

 header .header__bg img{
    background-size: cover;
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100vh;
}

 header .header__logo img {
    position: absolute;
    width: 55%;
    animation: fadeSimple .5s ease-in-out .5s forwards;
    opacity: 0;
}

 header .header__content {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    position: absolute;
    margin-top: 45%;
    margin-left: 10%;
}

.header__content img {
    width: 80%;
    margin-left: 5%;
    animation: fadeSimple .5s ease-in-out 1s forwards;
    opacity: 0;
}

.header__content h1 {
    font-family: 'Raleway', sans-serif;
    color: #f0f0f4;
    font-weight: 300;
    animation: fadeSimple .5s ease-in-out .7s forwards;
    opacity: 0;
}

.header__content p {
    font-family: 'Raleway', sans-serif;
    color: #f0f0f4;
    margin-top: 10px;
    animation: fadeSimple .5s ease-in-out .7s forwards;
    opacity: 0;
}

.header__content button {
    padding: 10px 15px;
    margin-top: 10px;
    background-color: #F33F7E;
    border: none;
    border-radius: 5px;
    animation: fadeSimple .5s ease-in-out .9s forwards;
    opacity: 0;
    box-shadow: -3px 3px 4px #00000044;
}
.header__content button a {
    text-decoration: none;
    color: #f0f0f4;
}

/* Section1 */


.section1 {
    width: 100%;
    height: 100vh;
    background-color: #3F3D56;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.section1__bg img {
    visibility: hidden;
    display: none;
}
.section1__content {
    display: flex;
    flex-direction: column;
}
.section1__content h2 {
    color: #f0f0f4;
    font-family: 'Raleway';
    font-weight: 300;
    margin-top: 18%;
}
.caja {
    width: 200px;
    height: 35%;
    background-color: #f0f0f4;
    margin-top: 20%;
    border-radius: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: -10px 10px 4px #00000044;
}
.caja a img {
    width: 100px;
    margin: 0px 25%
}

.caja h3 {
    color: #3F3D56;
    font-family: 'Raleway';
    font-size: 90%;
    margin-left: 10%;
    margin-top: 10px;
    margin-bottom: 5px;
}
.caja p{
    color: #3F3D56;
    font-family: 'Raleway';
    width: 90%;
    font-size: 80%;
    margin-left:  10%;
    margin-right: 10%;
}
#wd {
    height: 80px;
}
.section2 {
    width: 100%;
    height: 100vh;
    background-color: #f0f0f4;
    display: flex;
    flex-direction: column;
}
.section2__bg img{
    visibility: hidden;
    display: none;
}

.section2__content {
    margin-top: 20%;
    margin-left: 10%;
}

.section2 img {
    width: 90%;
}

.section2 h3{
    font-family: 'Raleway';
    color: #3F3D56;
    margin-top: 5%;
}
.section2 p {
    font-family: 'Raleway';
    color: #3F3D56;
    width: 90%;
    margin-top: 5%;
}
.section2 h4 {
    font-family: 'Raleway';
    color: #F33F7E;
}

.section2 button{
    padding: 10px 15px;
    margin-top: 10px;
    background-color: #3073FF;
    border: none;
    border-radius: 5px;
    box-shadow: -3px 3px 4px #00000044;
    margin-top: 5%;
}
.section2 button a {
    text-decoration: none;
    color: #f0f0f4;
}


/* Footer */

footer {
    width: 100%;
    height: 50vh;
    background-color: #3F3D56;
}

.footer__content {
    display: flex;
    flex-direction: column;
    font-family: 'Raleway';
    margin-left: 10%;
}
.footer__content img {
    width: 90%;
}

.footer__content h4 {
    color: #f0f0f460;
    margin-bottom: 10px;
}
.footer__content h5 a{
    text-decoration: none;
    color: #f0f0f4;
    margin-bottom: 10px;
}
.footer__content h5 {
    color: #f0f0f4;
    margin-bottom: 10px;
}

.footer__content h6 {
    color: #f0f0f4;
    margin-bottom: 10px;
}

@keyframes fadeSimple {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes fadeUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0px);
    }
  }


  /* Media Queries */
  @media screen and (max-width: 1550px) and (min-width:748px){
      header .header__content img {
          transform: translateX(-60px);
          height: 100%;
      }
      .caja #wd {
        width: 50%;
        height: 50px;
    }
  }
  @media screen and (min-width: 700px) {

    /* Header */
    .header__bg2 img {
        visibility: visible;
        display: block;
        width: 100%;
        height: 100vh;
        position: absolute;
        z-index: -1;
    }
    .header__nav {
        visibility: visible;
        display: block;
    }
    .header__nav ul {
        display: flex;
        flex-direction: row;
        position: absolute;
        list-style: none;
        width: 100%;
        justify-content: center;
    }
    .header__nav ul li {
        padding: 10px 35px;
        border-radius: 10px;
        margin-left: 2%;
        margin-top: 3%;
        transition-property: background-color;
        transition-duration: .5s;
        cursor: pointer;
    }


    .header__nav ul li a {
        color: #f0f0f4;
        text-decoration: none;
        font-family: 'Raleway';
        font-weight: 600;   
    }
    .header__nav ul li:hover {
        background-color: #f0f0f4;
    }
    .header__nav ul li:hover > a {
        color: #3F3D56
    }

    .header__bg img{
        visibility: hidden;
        display: none;
    }
    header .header__logo img {
        display: block;
        width: 15%;
    }
    header .header__content {
        display: flex;
        flex-direction: column;
        align-items:flex-start;
        position: absolute;
        margin-top: 10%;
        margin-left: 20%;
    }
    .header__content h1 {
        font-size: 80px;
        margin-top: 10%;
        text-shadow: -8px 8px 0px #00000044;
    }
    header .header__content img {
        position: absolute;
        margin-left: 45%;
        margin-right: 5%;
        width: 60%;
    }
    header .header__content p {
        width: 38%;
        font-size: 20px;
    }
    header .header__content button {
        padding: 18px 40px;
        margin-top: 20px;
        transition-property: box-shadow;
        transition-duration: .5s;
    }
    header .header__content button a {
        font-size: 20px;
    }
    header .header__content button:hover {
        box-shadow: -10px 10px 4px #00000044;
    }
    .section1 {
        background-color: transparent;
    }

    .section1__bg img{
        position: absolute;
        width: 100%;
        height: 100vh;
        z-index: -1;
        visibility: visible;
        display: block;
    }
    .section1__content h2 {
        position: absolute;
        margin-top: 10%;
        font-size: 38px;
    }
    .section1__content {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .caja {
        width: 18%;
        margin-right: 100px;
        margin-left: 100px;
        border-radius: 30px;
        transition-property: box-shadow, transform;
        transition-duration: .5s;
        cursor: pointer;
    }
    .caja p {
        font-size: 10px;
    }
    .caja:hover {
        box-shadow: -15px 15px 0px #00000073;
        transform: translateY(-10px);
    }
    .caja a img {
        width: 50%;
    }
    .section1__content h3 {
        font-size: 24px;
    }
    .section1__content p {
        font-size: 18px;
        width: 80%;
    }
    #wd{
        width: 50%;
        height: 150px;
    }
    .section2 {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: row;
        background-color: transparent;
    }
    .section2__bg img{
        visibility: visible;
        display: block;
        width: 100%;
        height: 100vh;
        position: absolute;
        z-index: -1;
    }
    .section2__content {
        margin-top: 15%;
    }
    .section2__content img {
        width: 38%;
        position: absolute;
        margin-left: 40%;
    }
    .section2 h3 {
        font-size: 58px;
        margin-top: 0%;
    }
    .section2__content p {
        font-size: 24px;
        width: 40%;
        margin-top: 0%;
        margin-top: 20px;
    }
    .section2__content h4 {
        font-size: 20px;
        margin-top: 20px;
    }
    .section2__content button {
        margin-top: 0%;
        padding: 18px 38px;
        font-size: 20px;
        margin-top: 20px;
    }
    .footer {
        width: 100%;
        height: 500px;
    }
    .footer__content img {
        width: 20%;
    }
  }