* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* mobile version */
.header__bg2 img {
    visibility: hidden;
    display: none;
}

html {
    scroll-behavior: smooth;
}
header {
    width: 100%;
    height: 100vh;
}

.header__nav {
    visibility: hidden;
    display: none;
}

 header .header__bg img{
    background-size: cover;
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100vh;
}

 header .header__logo img {
    position: absolute;
    width: 55%;
    animation: fadeSimple .5s ease-in-out .5s forwards;
    opacity: 0;
}

 header .header__content {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    position: absolute;
    margin-top: 45%;
    margin-left: 10%;
}

.header__content img {
    width: 80%;
    margin-left: 5%;
    animation: fadeSimple .5s ease-in-out 1s forwards;
    opacity: 0;
}

.header__content h1 {
    font-family: 'Raleway', sans-serif;
    color: #f0f0f4;
    font-weight: 300;
    animation: fadeSimple .5s ease-in-out .7s forwards;
    opacity: 0;
}

.header__content p {
    font-family: 'Raleway', sans-serif;
    color: #f0f0f4;
    margin-top: 10px;
    animation: fadeSimple .5s ease-in-out .7s forwards;
    opacity: 0;
}
.header__content a {
    background-color: #FF6584;
    padding: 10px 25px;
    margin-top: 15px;
    color: #f0f0f4;
    text-decoration: none;
    font-family: 'Raleway';
    font-size: 12px;
    font-weight: 500;
    border-radius: 30px;
    transition-property: box-shadow;
    transition-duration: .2s;
    animation: fadeUp .5s ease-in-out .6s forwards;
    opacity: 0;
}
.header__content a:hover {
    box-shadow: -10px 10px 0px #00000044;
}

/* Section1 */
.section1 {
    width: 100%;
    height: 100vh;
}
.section1 h2 {
    color: #f0f0f4;
    font-size: 24px;
    font-family: 'Raleway';
    text-align: center;
    margin-top: 25px;
}
.section1__bg img {
    visibility: hidden;
    display: none;
}
.section1__bg_2 img {
    width: 100%;
    height: 100vh;
    position: absolute;
    background-size: cover;
    z-index: -1;
}
.section1__content {
    display: flex;
    flex-direction: column;
}
.section1__content a {
    width: 200px;
    height: 260px;
    background-color: #f0f0f4;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.section1__content a img {
    width: 90%;
}
.section2 {
    width: 100%;
    height: 100vh;
    background-color: #f0f0f4;
    display: flex;
    flex-direction: column;
}
.section2__bg img{
    visibility: hidden;
    display: none;
}

.section2__content {
    margin-top: 20%;
    margin-left: 10%;
}

.section2 img {
    width: 90%;
}

.section2 h3{
    font-family: 'Raleway';
    color: #3F3D56;
    margin-top: 5%;
}
.section2 p {
    font-family: 'Raleway';
    color: #3F3D56;
    width: 90%;
    margin-top: 5%;
}
.section2 h4 {
    font-family: 'Raleway';
    color: #F33F7E;
}

.section2__content a {
    color: #f0f0f4;
    background-color: #FF6584;
    padding: 10px 30px;
    position: absolute;
    font-family: 'Raleway';
    text-decoration: none;
    margin-top: 10px;
    border-radius: 5px;
}
.section3 {
    width: 100%;
    height: 100vh;
    background-color: #f0f0f4;
}
.contacto {
    width: 100%;
    height: 100vh;
    background-color: #4042E2;
}
.caja1 {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.caja1 h2 {
    color: #f0f0f4;
    font-family: 'Raleway';
}
.caja1 h4 {
    color: #f0f0f4;
    font-family: 'Raleway';
    font-weight: 100;
    width: 80%;
    text-align: center;
    margin-top: 10px;
}

.caja1 img {
    width: 70%;
}
.botones {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.botones a {
    color: #f0f0f4;
    text-decoration: none;
    font-family: 'Raleway';
    align-items: center;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.botones a i{
    font-size: 30px;
    margin-top: 10px;
}


/* Footer */

footer {
    width: 100%;
    height: 50vh;
    background-color: #3F3D56;
}

.footer__content {
    display: flex;
    flex-direction: column;
    font-family: 'Raleway';
    margin-left: 10%;
}
.footer__content img {
    width: 90%;
}

.footer__content h4 {
    color: #f0f0f460;
    margin-bottom: 10px;
}
.footer__content h5 a{
    text-decoration: none;
    color: #f0f0f4;
    margin-bottom: 10px;
}
.footer__content h5 {
    color: #f0f0f4;
    margin-bottom: 10px;
}

.footer__content h6 {
    color: #f0f0f4;
    margin-bottom: 10px;
}

@keyframes fadeSimple {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes fadeUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  /* Media Queries */
  @media screen and (min-width: 700px) and (max-width: 1400px){
    header .header__content h1 {
          font-size: 60px;
    }
    header .header__content img {
        transform: translateX(-100px) translateY(100px);
        height: 300px;
    }
    
    .caja {
        padding-top: 30px;
    }
    .contacto .contacto__content img {
        width: 50%;
    }
    .section1__bg_2 img {
        display: none;
        visibility: hidden;
    }
}

  @media screen and (min-width: 700px) {

    @keyframes preloader {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    /* Header */
    .header__bg2 img {
        visibility: visible;
        display: block;
        width: 100%;
        height: 100vh;
        position: absolute;
        z-index: -1;
    }
    .header__nav {
        visibility: visible;
        display: block;
    }
    .header__nav ul {
        display: flex;
        flex-direction: row;
        position: absolute;
        list-style: none;
        width: 100%;
        justify-content: center;
        text-align: center;
    }
    .header__nav ul a {
        border-radius: 10px;
        text-decoration: none;
        color: #f0f0f4;
        font-family: 'Raleway';
        padding-top: 8px;
        width: 100px;
        height: 35px;
        margin-left: 2%;
        margin-top: 3.5%;
        transition-property: background-color;
        transition-duration: .5s;
        cursor: pointer;
    }

    .header__nav ul a:hover {
        background-color: #f0f0f4;
        color: #3F3D56;
        font-weight: 600;
    }

    .header__bg img{
        visibility: hidden;
        display: none;
    }
    header .header__logo img {
        display: block;
        width: 15%;
    }
    header .header__content {
        display: flex;
        flex-direction: column;
        align-items:flex-start;
        position: absolute;
        margin-top: 13%;
        margin-left: 20%;
    }
    .header__content h1 {
        font-size: 80px;
        margin-top: 10%;
        text-shadow: -8px 8px 0px #00000044;
    }
    header .header__content img {
        position: absolute;
        margin-left: 45%;
        margin-right: 5%;
        width: 60%;
    }
    header .header__content p {
        width: 38%;
        font-size: 20px;
    }
    .header__content a {
        background-color: #FF6584;
        padding: 20px 50px;
        margin-top: 25px;
        color: #f0f0f4;
        text-decoration: none;
        font-family: 'Raleway';
        font-size: 18px;
        font-weight: 500;
        border-radius: 30px;
        transition-property: box-shadow;
        transition-duration: .2s;
        animation: fadeUp .5s ease-in-out .6s forwards;
        opacity: 0;
    }
    .header__content a:hover {
        box-shadow: -10px 10px 0px #00000044;
    }
    /* Section 1 */

    .section1 {
        width: 100%;
        height: 100vh;
    }
    .section1__bg img {
        background-size: cover;
        width: 100%;
        height: 100vh;
        position: absolute;
        z-index: -1;
        visibility: visible;
        display: block;
    }
    .section1__bg_2 img {
        display: none;
        visibility: hidden;
    }
    .section1__content {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .section1__content h2 {
        position: absolute;
        font-family: 'Raleway';
        font-size: 44px;
        color: #f0f0f4;
        margin-top: 5%;
    }

    .section1__content a img {
        width: 90%;
    }
    .section1__content a {
        width: 300px;
        height: 380px;
        background-color: #f0f0f4;
        margin: 0px 100px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        margin-top: 15%;
        justify-content: center;
        align-items: center;
        transition-property: transform, box-shadow;
        transition-duration: .2s;
    }
    .section1__content a:hover {
        box-shadow: 0px 20px 20px #00000025;
        transform: translateY(-10px);
    }

    
    .section2 {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: row;
        background-color: transparent;
        opacity: 0;
        transition-property: opacity;
        transition-duration: .8s;
    }
    .section2__bg img{
        visibility: visible;
        display: block;
        width: 100%;
        height: 100vh;
        position: absolute;
        z-index: -1;
    }
    .section2__content {
        margin-top: 15%;
    }
    .section2__content a {
        background-color: #3073FF;
        padding: 15px 35px;
        color: #f0f0f4;
        text-decoration: none;
        font-family: 'Raleway';
        font-size: 20px;
        font-weight: 500;
        border-radius: 10px;
        transition-property: box-shadow;
        transition-duration: .2s;
        position: absolute;
        margin-top: 15px;
    }
    .section2__content a:hover {
        box-shadow: -8px 8px 0px #00000044;
    }

    .section2__content img {
        width: 38%;
        position: absolute;
        margin-left: 40%;
    }
    .section2 h3 {
        font-size: 58px;
        margin-top: 0%;
    }
    .section2__content p {
        font-size: 24px;
        width: 40%;
        margin-top: 0%;
        margin-top: 20px;
    }
    .section2__content h4 {
        font-size: 20px;
        margin-top: 20px;
    }
    .contacto {
    }
    .caja1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
    }
    .caja1 h2{
        color: #f0f0f4;
        font-family: 'Raleway';
        font-size: 40px;
        text-align: center;
    } 
    .caja1 h4 {
        font-size: 20px;
        color: #f0f0f4;
        font-family: 'Raleway';
        font-weight: 100;
        text-align: center;
    }
    .caja1 img {
        width: 30%;
    }
    .botones {
        width: 40%;
        height: 20%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .botones a {
        display: flex;
        flex-direction: column;
        text-align: center;
        text-decoration: none;
        color: #f0f0f4;
        font-family: 'Raleway';
        font-size: 20px;
        transition-property: color;
        transition-duration: .2s;
    }
    .botones a:hover {
        color: #3F3D56;
    }
    .botones a p {
        transform: translateY(-40px);
        visibility: hidden;
    }
    .botones a i {
        font-size: 40px;
        margin-bottom: 10px;
    }
    .vector2 img {
        visibility: hidden;
        display: none;
    }

    .footer {
        width: 100%;
        height: 500px;
    }

    .footer__content img {
        width: 20%;
    }
  }