/* HTML*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.hidden {
    overflow: hidden;
}

html {
    scroll-behavior: smooth;
}
body {
    overflow-x: hidden;
}


/* Loader */
.loader {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(125deg, #0CE7FE, #2c2f30, #000000);
    background-size: 400%;
    display: flex;
    justify-content: center;
    animation: bganimation 8s infinite;
}

.loader img {
    width: 20%;
}
.loader h1 {
    position: absolute;
    font-family: 'Raleway';
    color: #f0f0f4;
    animation: opacidad 5s infinite linear;
    margin-top: 12%;
    font-weight: 400;
}

/* Section1 */

.logo img {
    position: absolute;
    margin-top: 2%;
    margin-left: 2%;
    width: 8%;
}

.section1 {
    width: 100%;
    height: 100vh;
}

.nav {
    position: absolute;
    right: 0;
    margin-top: 30px;
    margin-right: 10%;
}
.nav ul {
    
    margin-right: 10%;
    display: flex;
    flex-direction: row;
}

.nav ul a {
    color: #f0f0f4;
    font-family: 'Raleway';
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 20px;
    transition-property: background-color, color;
    transition-duration: .2s;
   
}
.nav ul a:hover {
    background-color: #f0f0f4;
    color: #3b3b3b;
}

.section1__bg video {
    position: absolute;
    width: 100%;
    z-index: -100;
    background-size: cover;
}

.section1__content {
    display: flex;
    flex-direction: column;
    margin-top: 18%;
    position: absolute;
    margin-left: 15%;
}

.section1__content h1 {
    color: #f0f0f4;
    font-family: "Raleway";
    font-size: 54px;
    width: 90%;
    opacity: 0;
    animation: fadeUp .5s ease-in-out .1s forwards;
}

.h2 {
    color: rgba(255, 255, 255, 0.377);
    font-family: 'Raleway';
    font-weight: lighter;
    margin-top: 15px;
    animation: fadeUp .5s ease-in-out .2s forwards;
    opacity: 0;
}
.box1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box1 h3 {
    color: #f0f0f4;
    font-family: 'Rubik';
    font-size: 34px;
    font-weight: lighter;
}


.box {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    opacity: 0;
    animation: fadeUp .5s ease-in-out .4s forwards;
}
.box div {
    width: 60px;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.397);
    border-radius: 5px;
    margin: 0px 5px;
    opacity: .9;
}
.button {
    display: flex;
    flex-direction: row;
    opacity: 0;
    animation: fadeUp .5s ease-in-out .7s forwards;
}
.button h2 {
    font-size: 18px;
    color: #f0f0f4c2;
    font-family: 'Raleway';
    width: 35%;
    margin-top: 32px;
    margin-left: 10px;
}
.button a {
    padding: 15px 40px;
    background: rgb(12,231,254);
    background: linear-gradient(90deg, rgba(12,231,254,1) 0%, rgba(0,0,0,0) 100%);
    border-radius: 30px;
    margin-top: 30px;
    font-family: 'Raleway';
    text-decoration: none;
    color: #f0f0f4;
    transition-property: background, padding;
    transition-duration: .5s;
}
.button a:hover {
    padding: 15px 60px;
}

.planet img {
    position: absolute;
    z-index: -20;
    opacity: 1;
    width: 80%;
    animation: rotation 90s infinite linear;
    width: 80%;
    margin-left: 10%;
    margin-top: 10%;
}

/* Section2 */

.section2 {
    width: 100%;
    height: 100vh;
    display: flex;
    background: rgb(12,231,254);
    background: linear-gradient(180deg, rgba(12,231,254,1) 0%, rgba(44,47,48,1) 100%);
    align-items: center;
    justify-content: center;
}
.section2__h2 {
    position: absolute;
    color: white;
}
.circles {
    width: 100%;
    height: 100vh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: rotation 30s infinite linear;
}
.circles img {
    position: absolute;
    width: 30%;
    margin: 0px auto;
}

.glass {
    width: 18%;
    height: 65%;
    background-color: #f0f0f43a;
    backdrop-filter: blur(1rem);
    margin: 0px 10px;
    border-radius: 40px;
    border: 1px solid white;
    box-shadow: 0px 20px 10px #00000025;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 1s;
}

.glass-text h2 {
    text-align: center;
    color: #f0f0f4;
    font-family: 'Raleway';
    margin-bottom: 20px;
    margin-top: 20px;
}

.box-glass {
    width: 80%;
    height: 20%;
    background-image: linear-gradient(45deg,#0ce6fe73,#4043e273);
    backdrop-filter: blur(1rem);
    margin: 20px auto;
    border-radius: 20px;
    transition-property: box-shadow, transform;
    transition-duration: .2s;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.box-glass:hover {
    box-shadow: -5px 5px#00000025;
    cursor: pointer;
    transform: translateY(-5px);
}
.box-search {
    text-align: center;
}
.box-search input {
    border: none;
    width: 80%;
    border-radius: 20px;
    height: 40px;
    background-image: linear-gradient(45deg,#0ce6fe73,#4043e273);
    padding-left: 40px;
}
.box-search i {
    color: #f0f0f4;
    font-size: 20px;
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
    cursor: pointer;
    text-align: center;
}
.box-search input:focus {
   outline: none;
}

.box-glass h2 {
    color: #f0f0f4;
    font-family: 'Raleway';
    font-size: 100%;
    font-weight: 600;
    margin: 0px 20px;
}
.box-glass h3 {
    color: #f0f0f4;
    font-family: 'Raleway';
    font-size: 92%;
    margin: 5px 20px;
}

.small-box {
    margin: 0px auto;
    width: 80%;
    height: 15%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.s-box {
    width: 30%;
    height: 90%;
    background: linear-gradient(10deg,#0ce6feaf,#4043e296);
    backdrop-filter: blur(1rem);
    margin: 0px auto;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-property: box-shadow, transform;
    transition-duration: .2s;
}
.s-box:hover {
    cursor: pointer;
    box-shadow: -5px 5px#00000025;
    transform: translateY(-5px);
}

.s-box i {
    font-size: 35px;
    color: #f0f0f4;
}
.big-box {
    width: 80%;
    height: 30%;
    display: flex;
    flex-direction: row;
    margin: 0px auto;
    justify-content: center;
    align-items: center;
}
.b-box {
    width: 48%;
    height: 65%;
    background-image: linear-gradient(45deg,#0ce6fe73,#4043e273);
    border-radius: 10px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    transition-property: box-shadow, transform;
    transition-duration: .2s;
}
.b-box:hover {
    cursor: pointer;
    box-shadow: -5px 5px#00000025;
    transform: translateY(-5px);
}
.b-box h2 {
    color: #f0f0f4;
    font-family: sans-serif;
    font-size: 1.5rem;
}
.b-box h3 {
    color: #f0f0f4;
    font-family: sans-serif;
    font-size: 10px;
    font-weight: 400;
}
.b-box img {
    width: 50%;
}
.b-box h4 {
    font-family: sans-serif;
    color: #f0f0f4;
    font-size: 15px;
}

.album-box {
    width: 80%;
    height: 45%;
    background: linear-gradient(125deg,#FF6584,#ff335c3a );
    margin: 10% auto;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.album-box img {
    width: 80%;
}
.album-text h2 {
    color: #f0f0f4;
    font-family: 'Raleway';
    text-align: center;
    font-size: 100%;
}

.music-control {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 20%;
    margin: 0px auto;
}
.back {
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.back i {
    font-size: 100%;
    color: #f0f0f4;
    cursor: pointer;
    transition-property: background-color, border-radius, color;
    transition-duration: .2s;
    padding: 20px;
}
.back i:hover {
    color: #FF6584;
}
.next {
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.next i {
    font-size: 100%;
    color: #f0f0f4;
    cursor: pointer;
    transition-property: background-color, border-radius;
    transition-duration: .2s;
    padding: 20px;
    transition-property: color;
    transition-duration: .2s;
}
.next i:hover {
    color: #FF6584;
}
.play {
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.play i {
    font-size: 200%;
    color: #f0f0f4;
    cursor: pointer;
    transition-property: background-color, border-radius;
    transition-duration: .2s;
    padding: 20px;
}
.play i:hover {
    background-color: #ff6584;
    border-radius: 50px;
}

.box-login {
    width: 100%;
    height: 50%;
    border-radius: 40px;
    background-image: linear-gradient(125deg,#0CE7FE, #ff658486);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: -1;
}

.linea1 {
    position: absolute;
    width: 10px;
    height: 100px;
    background: #0CE7FE;
    transform: rotate(45deg);
    border-radius: 10px;
}

.linea2 {
    position: absolute;
    width: 20px;
    height: 200px;
    background: #FF6584;
    transform: rotate(45deg);
    margin-left: 20%;
    border-radius: 10px;
    margin-top: 20%;
}
.linea3 {
    position: absolute;
    width: 10px;
    height: 100px;
    background: #0CE7FE;
    transform: rotate(45deg);
    margin-left: 20%;
    border-radius: 10px;
    margin-top: 60%;
    margin-left: 45%;
}
.card {
    width: 80%;
    height: 60%;
    background: #f0f0f40e;
    border-radius: 20px;
    backdrop-filter: blur(1rem);
    border: 1px solid #f0f0f4;
}
.card img{
    width: 100%;
}

.box-login-1 {
    width: 80%;
    height: 14%;
    background-color: #f0f0f46e;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    transition-property: box-shadow, transform, background-color;
    transition-duration: .2s;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.box-login-1:hover {
    box-shadow: -5px 5px #ff6584b9;
    transform: translateY(-5px);
    background-color: #ff6584;
}

.box-login-1 i {
    color: #f0f0f4;
    font-size: 200%;
    margin-left: 20px;
}

.box-login-1 h2 {
    font-family: 'Raleway';
    font-size: 20px;
    margin-left: 20px;
    color:#f0f0f4;
}






/* Section 3 */

.section3 {
    width: 100%;
    height: 100vh;
    background-color: #2c2f30;
}
.section3-bg img{
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: -1;
    background-size: cover;
}
.section3__content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.window__glass {
    width: 65%;
    height: 80%;
    background-color: rgba(255, 255, 255, 0.075);
    border-radius: 40px;
    backdrop-filter: blur(.8rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 10px solid #0ce6fe7c;
}




.window__glass img {
    width: 10%;
    top: 0;
    margin-top: 30px;
    margin-left: 40px;
    position: absolute;
}

.section3__texto {
    width: 40%;
    font-family: 'Raleway';
    margin-left: 12%;
}

.section3__texto h2 {
    color: #f0f0f4c9;
    font-size: 50px;
}
.section3__texto p {
    color: #f0f0f469;
    margin-top: 10px;
}

.section3__texto a {
    padding: 15px 25px;
    position: absolute;
    color: #000000d8;
    background-image: linear-gradient(90deg, #0CE7FE, #3b3b3b73);
    border-radius: 30px;
    text-decoration: none;
    margin-top: 20px;
    transition-property: padding;
    transition-duration: .2s;
}
.section3__texto a:hover {
    padding: 15px 35px;
}
.section4 {
    width: 100%;
    height: 100vh;
}
/* Keyframes */

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
}


@keyframes fadeUp {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes opacidad {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes bganimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}

/* Media Queries */ 


 @media screen and (max-width: 700px){
     body {
        visibility: hidden;
     }
 }